body{
    background:#F4F7FC;
}

.dashboard-layout{
    display:flex;
    min-height:100vh;
}

.dashboard-content{
    flex:1;
    margin-left:260px;
    padding:30px;
}

@media(max-width:992px){

    .dashboard-content{

        margin-left:0;
    }

}